################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src_cs/.vs
/src_cs/bin/Debug/netcoreapp3.1
/src_cs/obj
